*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-size: 30px;
    padding: 10px 0px;
}
.principal{
    width: 400px;
    height: 600px;
    background-color: rgb(191, 251, 253);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.449);
}

.secundaria{
    height: 280px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}
.valores{
    font-size: 30px;
    padding: 20px 40px;
}
.botao{
    height: 50px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(141, 177, 251);
}
.resposta{
    height: 50px;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}
#resultado{
    width: 350px;
    height: 150px;
    background-color: white;
    padding: 10px 50px;
    font-size: 30px;
}
.botao:hover{
    background-color: rgb(121, 154, 244);
}
.botao:active{
    border: 1px solid black;
}